.header
	position: absolute
	z-index: 10
	top: 0
	left: 0
	width: 100%
	background: rgba(11, 20, 25, 0.9)
	padding: rem(22px) 0
	overflow: hidden

.header__container
	display: flex
	justify-content: space-between
	align-items: center

.logo img
	width: 120px

.nav-wrap,
.nav__list
	display: flex
	align-items: center

.nav__link
	+font($default_font, rem(18px), $default_color, 800)
	text-decoration: none
	padding: rem(35px) rem(30px)
	background: transparent
	transition: 0.2s
.nav__link:hover
	color: $second_color
	background: #fff

.phone a
	+font($default_font, rem(16px), $default_color, 800)
	text-decoration: none
	padding: rem(10px) rem(14px)
	border: 2px solid #fff
	border-radius: 50px
.phone a:hover
	background: #212121
	color: #f7f7f7

.menu__btn
	display: none

	margin-left: 30px
	width: 40px
	height: 40px
	position: relative
	z-index: 1
	cursor: pointer
.menu__btn span,
.menu__btn span:before,
.menu__btn span:after
	content: ''
	position: absolute
	z-index: -1
	top: calc(50% - 2px)
	left: calc(50% - 20px)
	width: 40px
	height: 4px
	background: #fff
	transition: .7s
	border-radius: 3px
.menu__btn span:before
	transform: translateY(-11px)
.menu__btn span:after
	transform: translateY(11px)


.nav-wrap_active .menu__btn span
	height: 0
.nav-wrap_active .menu__btn span:before
	transform: rotate(-45deg)
.nav-wrap_active .menu__btn span:after
	transform: rotate(45deg)


@media(max-width: 920px)
	.header
		overflow: visible
		padding: rem(12px) 0

	.nav-decoration
		position: absolute
		top: 0
		right: 0
		width: 100vw
		height: 100vh
		background: #ffa650
		transition: .7s
		transform: translateX(110%)
	.nav-wrap_active .nav-decoration
		transform: translateX(0)

	.nav
		position: absolute
		top: 0
		right: 0
		width: 100vw
		height: 100vh
		background: #212121
		transform: translateX(110%)
		transition: .7s
		transition-delay: .1s
		opacity: .8
	.nav-wrap_active .nav
		transform: translateX(0)
		opacity: 1

	.nav__list
		width: 100%
		height: 100%
		padding: 22px 0
		flex-direction: column
		justify-content: center
	.nav__item
		margin-bottom: 35px
		transform: translateX(20%)
		transition: .7s
		opacity: 0
		transition-delay: .2s
	.nav-wrap_active .nav__item
		transform: translateX(0)
		opacity: 1

	.nav__item:nth-child(2)
		transition-delay: .4s

	.nav__item:last-child
		margin-bottom: 0
		transition-delay: .6s

	.nav__link
		display: block
		padding: rem(10px) rem(15px)
		font-size: rem(25px)

	.menu__btn
		display: block

@media(max-width: 600px)
	.phone
		display: none